@namespace BlazorComponent
@inherits BGroupItem<ItemGroupBase>

<BCascadingValue Value="this">
    @if (Show)
    {
        <span class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @onclick="HandleOnClick" @onclick:stopPropagation @attributes="Attributes">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BChipContent<>))"></AbstractComponent>
        </span>
    }
</BCascadingValue>
