@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()">
        @if (Max != null)
        {
            @($"{Value}/{Max}")
        }
        else
        {
            @Value
        }
    </div>
</CascadingValue>

