@namespace BlazorComponent
@typeparam TProgressLinear
@inherits ComponentPartBase<TProgressLinear>

@if (ComponentChildContent != null)
{
	<div class="@CssProvider.GetClass("content")">
		@ComponentChildContent(Value)
	</div>
}

