@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@GutterStyle @_hostFlexStyle @CssProvider.GetStyle()" id="@Id" @ref="Ref">
    @ChildContent
</div>
