@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass(this)" style="@GutterStyle @_hostFlexStyle @CssProvider.GetStyle(this)" id="@Id" @ref="Ref">
    @ChildContent
</div>
