@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssBuilder.Class" style="@GutterStyle @OriginalStyle" id="@Id" @ref="Ref">
        @ChildContent
    </div>
</CascadingValue>

