@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssProvider.GetClass(this)" style="@GutterStyle @OriginalStyle" id="@Id" @ref="Ref">
        @ChildContent
    </div>
</CascadingValue>

