@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()">
    <div class="@CssProvider.GetClass("wrap")">
        @if (Value != null)
        {
            foreach (var message in Value)
            {
                <div class="@CssProvider.GetClass("message")">
                    @message
                </div>
            }
        }
    </div>
</div>
