@namespace BlazorComponent
@inherits BDomComponentBase
@implements IHasProviderComponent

<div class="@CssProvider.GetClass()">
    @PrependContent
    @RenderPart(typeof(BDataFooterItemsPerPageSelect<>))
    @RenderPart(typeof(BDataFooterPaginationInfo<>))
    @RenderPart(typeof(BDataFooterIcons<>))
</div>


