@namespace BlazorComponent
@typeparam TComponent
@inherits ComponentAbstractBase<TComponent>

<div class="@CssProvider.GetClass(Name)" @onclick="OnClick" @onclick:stopPropagation>
    @ChildContent
</div>

