@namespace BlazorComponent
@inherits BDomComponentBase

<div @onclick="Click"
     @onclick:stopPropagation
     @onmouseenter="MouseEnter"
     @onmouseleave="MouseOut"
     @ref="Ref"
     style="@CssProvider.GetStyle()">
    @Activator
</div>

<AbstractComponent Metadata="AbstractProvider.GetMetadata<BOverlay>()"></AbstractComponent>

<div @ref="ContentRef" @onmouseenter="MouseEnter" @onmouseleave="MouseOut">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BPopover>()">
        @ChildContent
    </AbstractComponent>
</div>
