@namespace BlazorComponent
@inherits BDomComponentBase

@*//TODO:change here*@
@if (Input)
{
    @ActivatorContent(new MenuContext { OnClick = Click })
}
else
{
    <div @onclick="Click"
         @onclick:stopPropagation
         @onmouseenter="MouseEnter"
         @onmouseleave="MouseOut"
         @ref="Ref"
         style="@CssProvider.GetStyle()">
        @ActivatorContent(new MenuContext { OnClick = Click })
    </div>
}

@if (!Input)
{
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BOverlay>()"></AbstractComponent>
}

<div @ref="ContentRef" @onmouseenter="MouseEnter" @onmouseleave="MouseOut">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BPopover>()">
        @ChildContent
    </AbstractComponent>
</div>
