@namespace BlazorComponent
@inherits BDomComponentBase

<div @onclick="Click" @onmouseover="MouseOver"
     @onmouseleave="MouseOut"
     @ref="Ref"
     style="@CssProvider.GetStyle()">
    @Activator
</div>

<SlotComponent Description="SlotProvider.GetSlot<BOverlay>()"></SlotComponent>

<div @ref="ContentRef" @onmouseover="MouseOver" @onmouseleave="MouseOut">
    <SlotComponent Description="SlotProvider.GetSlot<BPopover>()">
        @ChildContent
    </SlotComponent>
</div>
