@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    @*//TODO:change here*@
    @if (Input)
    {
        @ActivatorContent(new MenuContext { OnClick = Click })
    }
    else
    {
        <div @onclick="Click"
         @onclick:stopPropagation
         @onmouseenter="MouseEnter"
         @onmouseleave="MouseOut"
         @ref="Ref"
         style="@CssProvider.GetStyle()">
            @ActivatorContent(new MenuContext { OnClick = Click })
        </div>
    }

    @*TODO: ThemeProvider*@
    <CascadingValue Value="Themeable">
        @if (!Input)
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BOverlay>()"></AbstractComponent>
        }

        <div @ref="ContentRef" @onmouseenter="MouseEnter" @onmouseleave="MouseOut">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BPopover>()">
                @ChildContent
            </AbstractComponent>
        </div>
    </CascadingValue>
</BCascadingValue>

