@namespace BlazorComponent
@typeparam TValue
@inherits BInputMessages<TValue,ITextField<TValue>>

@if (ShowDetails)
{
    <div class="@CssProvider.GetClass("text-field-details")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BMessages>()"></AbstractComponent>
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldCounter<,>))"></AbstractComponent>
    </div>
}
