@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentAbstractBase<TInput>

@if (Clearable)
{
    <AbstractComponent Type="append" Location="inner" Metadata="AbstractProvider.GetMetadata(typeof(BInputSlot<,>))">
        @if (!IsDirty)
        {
            <div></div>
        }
        else
        {
            <AbstractComponent Icon="@ClearIcon" Type="clear-icon"
                               @onclick="HandleOnClear"
                               Metadata="AbstractProvider.GetMetadata(typeof(BInputIcon<,>))">
            </AbstractComponent>
        }
    </AbstractComponent>
}
