@namespace BlazorComponent
@typeparam TValue
@inherits BInputAppendSlot<ITextField<TValue>>

@if (AppendOuterContent != default || AppendOuterIcon != null)
{
    <div class="@CssProvider.GetClass( "append-outer")">
        @AppendOuterContent
        @if (AppendOuterIcon != null)
        {
            //TODO:这里还需要进一步完善
            var name = "append-outer-icon";
            <div class="@CssProvider.GetClass("append-outer-icon")">
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>(name)">
                    @AppendOuterIcon
                </AbstractComponent>
            </div>
        }
    </div>
}
