@namespace BlazorComponent
@typeparam TValue
@inherits BInputInputSlot<ITextField<TValue>>

<div class="@CssProvider.GetClass( "input-slot")" style="@CssProvider.GetStyle( "input-slot")"
     @onclick="HandleOnClick"
     @onmousedown="HandleOnMouseDown"
     @onmouseup="HandleOnMouseUp"
     @ref="InputSlotRef">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldPrependInnerSlot<,>))"></AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputDefaultSlot<>))"></AbstractComponent>
</div>
