@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentAbstractBase<TInput>

<div class="@CssProvider.GetClass("text-field-slot")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputLabel<,>))"></AbstractComponent>
    @if (Prefix != null)
    {
        <AbstractComponent Type="prefix" Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldAffix<,>))">
            @Prefix
        </AbstractComponent>
    }
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldInput<,>))"></AbstractComponent>
    @if (Suffix != null)
    {
        <AbstractComponent Type="suffix" Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldAffix<,>))">
            @Suffix
        </AbstractComponent>
    }
</div>
