@namespace BlazorComponent
@typeparam TValue
@inherits BInputInputSlot<TValue,ITextField<TValue>>

<div class="@CssProvider.GetClass("input-slot")" style="@CssProvider.GetStyle("input-slot")"
     @onclick="HandleOnClickAsync"
     @onmousedown="HandleOnMouseDownAsync"
     @onmouseup="HandleOnMouseUpAsync"
     @ref="InputSlotRef">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTextFieldPrependInnerSlot<,>))"></AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputDefaultSlot<,>))"></AbstractComponent>
</div>
