@namespace BlazorComponent
@typeparam TValue
@typeparam TRangeSlider
@inherits BSliderTrackContainer<IList<TValue>, TValue, TRangeSlider>

<div class="@CssProvider.GetClass("track-container")" @ref="TrackElement">
    @for (var i = 0; i < 3; i++)
    {
        var index = i;
        <div class="@CssProvider.GetClass("range-track-background", index)" style="@CssProvider.GetStyle("range-track-background", index)"></div>
    }
</div>
