@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@typeparam TTreeviewNode
@inherits ComponentPartBase<TTreeviewNode>

@if (AppendContent != null)
{
    <div class="@CssProvider.GetClass("append")">
        @ComputedAppendContent
    </div>
}
