@namespace BlazorComponent
@typeparam TTimelineItem
@inherits ComponentAbstractBase<TTimelineItem>

<div class="@CssProvider.GetClass("divider")">
    @if (!HideDot)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTimelineItemDot<>))"></AbstractComponent>
    }
</div>