@namespace BlazorComponent
@typeparam TTimelineItem
@inherits ComponentAbstractBase<TTimelineItem>

<div class="@CssProvider.GetClass("dot")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTimelineItemInnerDot<>))"></AbstractComponent>
</div>