@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("input-slot")"
     style="@CssProvider.GetStyle("input-slot")"
     @onexclick="HandleOnClickAsync"
     @onmousedown="HandleOnMouseDownAsync"
     @onexmouseup="HandleOnMouseUpAsync"
     @ref="InputSlotRef">
    @RenderPart(typeof(BInputDefaultSlot<,>))
</div>
