@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this" IsFixed>
    <div class="@CssProvider.GetClass()" id="@Id" @ref="Ref">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItem>()">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemIcon>(PREPEND)">
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
                    @PrependIcon
                </AbstractComponent>
            </AbstractComponent>
            @ActivatorContent
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemIcon>(APPEND)">
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
                    @AppendIcon
                </AbstractComponent>
            </AbstractComponent>
        </AbstractComponent>
        <ExpandTransition>
            <Element Show="Expanded" Class="@CssProvider.GetClass("items")" Style="@CssProvider.GetStyle("items")">
                @ChildContent
            </Element>
        </ExpandTransition>
    </div>
</CascadingValue>

