@namespace BlazorComponent
@typeparam TValue
@inherits BInputInputSlot<TValue,ITextField<TValue>>

<div class="@CssProvider.GetClass("input-slot")" style="@CssProvider.GetStyle("input-slot")"
     @onclick="HandleOnClickAsync"
     @onmousedown="HandleOnMouseDownAsync"
     @onmouseup="HandleOnMouseUpAsync"
     @attributes="InputSlotAttrs"
     @ref="InputSlotRef">
     @RenderPart(typeof(BTextFieldPrependInnerSlot<,>))
     @RenderPart(typeof(BInputDefaultSlot<,>))
</div>
