@namespace BlazorComponent
@typeparam TNavigationDrawer
@inherits ComponentPartBase<TNavigationDrawer>

@if (PositionContent != null)
{
    <div class="@CssProvider.GetClass(ClassName)">
        @PositionContent
    </div>
}