@namespace BlazorComponent
@inherits BDomComponentBase
@implements IHasProviderComponent

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()"
         style="@CssProvider.GetStyle()"
         @ref="Ref">
        @TopContent
        @RenderPart(typeof(BSimpleTableWrapper<>))
        @BottomContent
    </div>
</CascadingValue>
