@namespace BlazorComponent
@typeparam TCalendarWeekly
@inherits ComponentAbstractBase<TCalendarWeekly>

<div class="@CssProvider.GetClass("day", Index, Day)">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarWeeklyDayLabel<>))" Day="@Day" Index="@Index"></AbstractComponent>
    @if (DayContent != null)
    {
        @DayContent(DayContentProps)
    }
</div>