@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem
@typeparam TItemValue
@typeparam TValue

<AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItem>()">
    @if (Select.Multiple)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemAction>()">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<ICheckbox>()"></AbstractComponent>
        </AbstractComponent>
    }
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemContent>()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemTitle>()">
            @{
                var queryText = Select.QueryText;
                if (!string.IsNullOrEmpty(queryText) && Label.Contains(queryText, StringComparison.OrdinalIgnoreCase) && queryText.Length < Label.Length)
                {
                    var index = Label.ToLower().IndexOf(queryText.ToLower());
                    if (index > 0)
                    {
                        @Label.Substring(0, index);
                    }
                    <span class="@Select.CssProvider.GetClass("mask")">
                        @queryText
                    </span>
                    @Label.Substring(index + queryText.Length)
                }
                else
                {
                    @Label
                }
            }
        </AbstractComponent>
    </AbstractComponent>
    @if (!string.IsNullOrEmpty(Icon))
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemIcon>()">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
                @Icon
            </AbstractComponent>
        </AbstractComponent>
    }
</AbstractComponent>