@namespace BlazorComponent
@typeparam TPicker
@inherits ComponentPartBase<TPicker>

    @if (ActionsContent != null)
{
    <div class="@CssProvider.GetClass("actions")">
        @ActionsContent
    </div>
}

