@namespace BlazorComponent
@typeparam TDatePickerDateTable
@inherits ComponentPartBase<TDatePickerDateTable>

<tbody>
    @foreach (var child in Children)
    {
        var childDatas = child;

        RenderFragment childContent = builder =>
        {
            var sequence = 0;
            foreach (var data in childDatas)
            {
                var rowData = data;
                if (rowData.Type == "WeekNumber")
                {
                    builder.AddContent(sequence++, RenderPart(typeof(BDatePickerDateTableWeekNumber<>), rowData.Attrs));
                }
                else if (rowData.Type == "ShowAdjacentMonthsButton")
                {
                    builder.AddContent(sequence++,@<td>
                        @if (ShowAdjacentMonths)
                        {
                            @RenderPart(typeof(BDatePickerTableButton<>),rowData.Attrs)
                        }
                    </td>);
                    
                }
                else if (rowData.Type == "Button")
                {
                    builder.AddContent(sequence++,@<td>
                        @RenderPart(typeof(BDatePickerTableButton<>),rowData.Attrs)
                    </td>);
                }
            }
        };

        @RenderPart(typeof(BDatePickerDateTableTR<>),childContent)
    }
</tbody>


