@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@inherits BDomComponentBase
@implements ITreeviewNode<TItem, TKey>

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodeNode<,,>))"></AbstractComponent>
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodeChildrenWrapper<,,>))"></AbstractComponent>
    </div>
</BCascadingValue>

