@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@typeparam TTreeviewNode
@inherits ComponentAbstractBase<TTreeviewNode>

<div class="@CssProvider.GetClass("content")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodePrependSlot<,,>))"></AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodeLabel<,,>))"></AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodeAppendSlot<,,>))"></AbstractComponent>
</div>
