@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@inherits BDomComponentBase
@implements ITreeview<TItem, TKey>

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass()">
        @if (ComputedItems != null && ComputedItems.Any())
        {
            foreach (var item in ComputedItems)
            {
                @RenderPart(typeof(BTreeviewNodeChild<,,>),item,ItemDisabled?.Invoke(item) ?? false,arg1Name:"ParentIsDisabled")
            }
        }
        else
        {
            @ChildContent
        }
    </div>
</BCascadingValue>
