@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@typeparam TTreeviewNode
@inherits ComponentAbstractBase<TTreeviewNode>

@if (IsOpen && ComputedChildren != null)
{
    <div class="@CssProvider.GetClass("children")">
        @foreach (var item in ComputedChildren)
        {
            <AbstractComponent Item="@item" ParentIsDisabled="@Disabled" Metadata="AbstractProvider.GetMetadata(typeof(BTreeviewNodeChild<,,>))"></AbstractComponent>
        }
    </div>
}

