@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <BCascadingValue Value="this" IsFixed>
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
            @if (ComputedItems.Any())
            {
                foreach (var item in ComputedItems)
                {
                    @RenderPart(typeof(BTreeviewNodeChild<,,>), item, ItemDisabled?.Invoke(item) ?? false, arg1Name: "ParentIsDisabled")
                }
            }
            else
            {
                @ChildContent
            }
        </div>
    </BCascadingValue>
</CascadingValue>
