@namespace BlazorComponent
@typeparam TItem
@typeparam TKey
@typeparam TTreeviewNode
@inherits ComponentAbstractBase<TTreeviewNode>

@for (int i = 0; i < Level; i++)
{
    <div class="@CssProvider.GetClass("level")"></div>
}
