@namespace BlazorComponent
@typeparam TIcon
@inherits ComponentPartBase<TIcon>

@*//this will change*@
<button type="button"
        class="@CssProvider.GetClass()"
        style="@CssProvider.GetStyle()"
        @attributes="Attrs"
        @ref="Ref">
    @NewChildren
</button>