@namespace BlazorComponent
@typeparam TCalendarCategory
@inherits BCalendarDailyDays<TCalendarCategory>

<div class="@CssProvider.GetClass("columns")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarCategoryDayBodyCategory<>))" Category="@Category" Day="@Day"></AbstractComponent>
</div>
