@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref">
    @RenderPart(typeof(BDatePickerTitleYearBtn<>))
    @RenderPart(typeof(BDatePickerTitleTitleDate<>))
</div>
