@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()">
        @RenderPart(typeof(BMessagesChildren<>))
    </div>
</CascadingValue>


