@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BMessagesChildren<>))"></AbstractComponent>
    </div>
</BCascadingValue>

