@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssProvider.GetClass()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BMessagesChildren<>))"></AbstractComponent>
    </div>
</CascadingValue>

