@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass("wrapper")" style="@CssProvider.GetStyle("wrapper")">
    @ChildContent
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()"></div>
</div>