@namespace BlazorComponent
@inherits BDomComponentBase

<ExpandTransition>
    <ShowTransitionElement Value="ExpansionPanel?.InternalIsActive is true" class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
        <div class="@CssProvider.GetClass("wrap")">
            @ChildContent
        </div>
    </ShowTransitionElement>
</ExpandTransition>

