@namespace BlazorComponent
@inherits BDomComponentBase

<button @ref="Ref"
        @onclick="HandleClickAsync"
        @onclick:preventDefault
        @onmousedown="() => _hasMouseDown = true"
        @onmouseup="() => _hasMouseDown = false"
        Class="@CssProvider.GetClass()"
        Style="@CssProvider.GetStyle()">
    @ChildContent
    <div class="@CssProvider.GetClass("headerIcon")">
        <i class="@CssProvider.GetClass("icons")"></i>
    </div>
</button>

