@namespace BlazorComponent
@inherits BDomComponentBase

<ExpandTransition Class="@CssProvider.GetClass()" Style="@CssProvider.GetStyle()" Value="ExpansionPanel.Expanded">
    <div class="@CssProvider.GetClass("wrap")">
        @ChildContent
    </div>
</ExpandTransition>

