@namespace BlazorComponent
@inherits BDomComponentBase

<AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(CascadingValue<>))">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BBannerWrapper<>))"></AbstractComponent>
    </div>
</AbstractComponent>