@namespace BlazorComponent
@typeparam TMessages
@inherits ComponentPartBase<TMessages>

<div class="@CssProvider.GetClass("message")">
    @if (ComponentChildContent != null)
    {
        @ComponentChildContent(Message)
    }
    else
    {
        @Message
    }
</div>
