@namespace BlazorComponent
@typeparam TDatePickerDateTable
@inherits ComponentPartBase<TDatePickerDateTable>

<td>
    <small class="@CssProvider.GetClass("date-week")">
        @WeekNumber
    </small>
</td>

