@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@ConfigProvider.GetCss(this)" style="@OriginalStyle" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@ConfigProvider.GetCss(this,"wrap")">
        @ChildContent
    </div>
</div>