@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <CascadingValue Value="IsDark" Name="AppIsDark">
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @attributes="Attributes">
            <div class="@CssProvider.GetClass("wrap")">
                @ChildContent
            </div>
        </div>
    </CascadingValue>
</CascadingValue>

