@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <CascadingValue Value="IsDark" Name="AppIsDark">
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @attributes="Attributes">
            <div class="@CssProvider.GetClass("wrap")">
                @ChildContent
            </div>

            <BCascadingValue Value="this">
                @foreach (var item in PopupProvider.GetItems())
                {
                    <CascadingValue @key="item" Value="item">
                        <DynamicComponent Type="item.ComponentType" Parameters="item.Parameters"></DynamicComponent>
                    </CascadingValue>
                }
            </BCascadingValue>
        </div>
    </CascadingValue>
</CascadingValue>