@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssBuilder.Class" style="@OriginalStyle" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@WrapCssBuilder.Class">
        @ChildContent
    </div>
</div>