@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("slider")"
     @onclick="HandleOnSliderClickAsync"
     @onexmousedown="HandleOnSliderMouseDownAsync"
     @onexmousedown:preventDefault>
     @RenderPart(typeof(BSliderChildren<,>))
</div>