@namespace BlazorComponent
@typeparam TValue
@typeparam TNumeric
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("slider")"
     @onclick="HandleOnSliderClickAsync"
     @ref="SliderElement">
    @RenderPart(typeof(BSliderChildren<,,>))
</div>