@namespace BlazorComponent
@typeparam TValue
@typeparam TNumeric
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("slider")"
     @onclick="HandleOnSliderClickAsync"
     @onextouchstart="HandleOnSliderTouchStartAsync"
     @onexmousedown="HandleOnSliderMouseDownAsync"
     @onmouseup="HandleOnSliderMouseUpAsync"
     @onmouseup:preventDefault
     @onmouseup:stopPropagation
     @onexmousedown:preventDefault>
    @RenderPart(typeof(BSliderChildren<,,>))
</div>