@namespace BlazorComponent
@inherits BDomComponentBase
@attribute [CascadingTypeParameter(nameof(TValue))]
@typeparam TValue
@implements IInput<TValue>

<CascadingValue Value="IsDark" Name="IsDark">
    <BCascadingValue Value="this" IsFixed>
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref">
            @RenderPart(typeof(BInputContent<,>))
        </div>
    </BCascadingValue>
</CascadingValue>

