@namespace BlazorComponent
@inherits BDomComponentBase
@attribute [CascadingTypeParameter(nameof(TValue))]
@typeparam TValue
@implements IInput<TValue>

<CascadingValue Value="IsDark" Name="IsDark">
    <BCascadingValue Value="this" IsFixed>
        <CascadingValue Value="IsDisabled" Name="Input_IsDisabled">
            <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref" @attributes="@Attributes">
                @RenderPart(typeof(BInputContent<,>))
            </div>
        </CascadingValue>
    </BCascadingValue>
</CascadingValue>