@namespace BlazorComponent
@typeparam TCalendarDaily
@inherits ComponentAbstractBase<TCalendarDaily>

<div class="@CssProvider.GetClass("scrollArea")" @ref="ScrollAreaElement">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarDailyPane<>))"></AbstractComponent>
</div>
