@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass(Type)">
    <BIcon OnClick="OnClick" @attributes="@GetAttributes(typeof(BIcon), Type, OnClick)">
        @Icon
    </BIcon>
</div>
