@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass(Type)" @ref="Element">
    <BIcon OnClick="OnClick"
           OnClickPreventDefault
           OnClickStopPropagation
           OnMouseupPreventDefault
           OnMouseupStopPropagation
           @attributes="@GetAttributes(typeof(BIcon), Type, OnClick)">
        @Icon
    </BIcon>
</div>
