@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass(Type)" @ref="Element">
    <BIcon OnClick="OnClick"
           OnClickPreventDefault="OnClick.HasDelegate"
           OnClickStopPropagation="OnClick.HasDelegate"
           OnMouseupPreventDefault="OnClick.HasDelegate"
           OnMouseupStopPropagation="OnClick.HasDelegate"
           @attributes="@GetAttributes(typeof(BIcon))">
        @Icon
    </BIcon>
</div>
