@namespace BlazorComponent
@typeparam TProgressLinear
@inherits ComponentAbstractBase<TProgressLinear>

<div class="@CssProvider.GetClass("determinate")" style="@CssProvider.GetStyle("determinate")"></div>

