@namespace BlazorComponent
@typeparam TProgressLinear
@inherits ComponentAbstractBase<TProgressLinear>

@if (Stream)
{
	<div class="@CssProvider.GetClass("stream")" style="@CssProvider.GetStyle("stream")"></div>
}

