@namespace BlazorComponent
@typeparam TColorPicker
@inherits ComponentAbstractBase<TColorPicker>

<div class="@CssProvider.GetClass("controls")">
    @if (!HideSliders)
    {
        <AbstractComponent Metadata="@(AbstractProvider.GetMetadata<BColorPickerPreview>())"></AbstractComponent>
    }
    @if (!HideInputs)
    {
        <AbstractComponent Metadata="@(AbstractProvider.GetMetadata<BColorPickerEdit>())"></AbstractComponent>
    }
</div>


