@namespace BlazorComponent
@typeparam TComponent
@inherits ComponentPartBase<TComponent>

@if (ComputedDataItemsPerPageOptions.Count() > 1)
{
    <div class="@CssProvider.GetClass("select")">
        @ItemsPerPageText
        <CascadingValue Value="true" Name="DisableDefaultsProvider">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(ISelect<,,>))"></AbstractComponent>
        </CascadingValue>
    </div>
}
