@namespace BlazorComponent
@typeparam TButton
@inherits ComponentPartBase<TButton>

@if (Loading)
{
    <div class="@CssProvider.GetClass("loader")" style="@CssProvider.GetStyle("loader")">
        @if (LoaderContent == null)
        {
            <BProgressCircular @attributes="GetAttributes(typeof(BProgressCircular))"></BProgressCircular>
        }
        else
        {
            @LoaderContent
        }
    </div>
}