@namespace BlazorComponent
@typeparam TSnackbar
@inherits ComponentPartBase<TSnackbar>

<div class="@CssProvider.GetClass("action")" style="@CssProvider.GetStyle("action")">
    @if (!string.IsNullOrEmpty(Action))
    {
        <BButton @attributes="GetAttributes(typeof(BButton))">
            @Action
        </BButton>
    }
    else
    {
        @ActionContent
    }
</div>

