@namespace BlazorComponent
@typeparam TTimelineItem
@inherits ComponentPartBase<TTimelineItem>

<div class="@CssProvider.GetClass("divider")">
    @if (!HideDot)
    {
        @RenderPart(typeof(BTimelineItemDot<>))
    }
</div>