@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass(this)" id="@Id">
    <div class="@CssProvider.GetClass(this,"wrap")">
        <div class="@CssProvider.GetClass(this,"message")">
            @ChildContent
        </div>
    </div>
</div>