@namespace BlazorComponent
@typeparam TValue
@inherits BInputMessages<TValue,ITextField<TValue>>

@if (ShowDetails)
{
    <div class="@CssProvider.GetClass("text-field-details")">
        <BMessages @attributes="GetAttributes(typeof(BMessages))"></BMessages>
        @RenderPart(typeof(BTextFieldCounter<,>))
    </div>
}
