@namespace BlazorComponent
@typeparam TDatePickerTable
@inherits ComponentPartBase<TDatePickerTable>

@{
    var eventColors = GetEventColors();

    if (eventColors.Any())
    {
        <div class="@CssProvider.GetClass("events")">
            @foreach (var color in eventColors)
            {
                <div class="@CssProvider.GetClass("event", data: color)"
                     style="@CssProvider.GetStyle("event", data: color)">
                </div>
            }
        </div>
    }
}
