@namespace BlazorComponent
@typeparam TCard
@inherits ComponentAbstractBase<TCard>


@if (Loading != false || ProgressContent != null)
{
    <div class="@CssProvider.GetClass("progress")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BLoadableProgress<>))"></AbstractComponent>
    </div>
}
