@namespace BlazorComponent
@typeparam TImage
@inherits ComponentPartBase<TImage>
@if (PlaceholderContent != null && IsLoading)
{
    <div class="@CssProvider.GetClass("placeholder")">
        @PlaceholderContent
    </div>
}