@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <CascadingValue Value="this" IsFixed>
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @attributes="Attributes">
           id:@Id
            @if (Items != null && Items.Any())
            {
                foreach (var item in Items)
                {
                    <DynamicComponent Type=item.GetType() Parameters=item.ToParameters() @key="@item"></DynamicComponent>
                }
            }
            else
            {
                @ChildContent
            }
        </div>
    </CascadingValue>
</CascadingValue>