@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref" @onclick="HandleOnClickAsync">
        @ChildContent
    </div>
</CascadingValue>