@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("control")"
     style="@CssProvider.GetStyle("control")">
    @RenderPart(typeof(BInputInputSlot<,>))
    @RenderPart(typeof(BInputMessages<,>))
</div>
