@namespace BlazorComponent
@typeparam TImage
@inherits ComponentAbstractBase<TImage>

@if (ChildContent != null)
{
    <div class="@CssProvider.GetClass("placeholder")">
        @ChildContent
    </div>
}