@namespace BlazorComponent
@typeparam TResponsive
@inherits ComponentAbstractBase<TResponsive>

@if (AspectRatio != null)
{
    <div class="@CssProvider.GetClass("sizer")" style="@CssProvider.GetStyle("sizer")"></div>
}