@namespace BlazorComponent
@typeparam TColorPicker
@inherits ComponentAbstractBase<TColorPicker>

<div style="@CssProvider.GetStyle("color")">
    @*deepEqual(this.color, parseColor(color, null)) && this.$createElement(VIcon, {...})*@
    <AbstractComponent></AbstractComponent>
</div>