@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass("swatches")" style="@CssProvider.GetStyle("swatches")" id="@Id">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BColorPickerSwatchesSwatch<>))"></AbstractComponent>
    </div>
</BCascadingValue>
