@namespace BlazorComponent
@typeparam TPagination
@inherits ComponentPartBase<TPagination>

@foreach (var item in GetItems())
{
    <li>
        @if (item.IsT0)
        {
            <span class="@CssProvider.GetClass("more")">
                @item
            </span>
        }
        else
        {
             var itemClass = item.AsT1 == Value ? "current-item" : "item";
             <button class="@CssProvider.GetClass(itemClass)" type="button" @onclick="async args => await HandleItemClickAsync(item)">
                 @item
             </button>
        }
    </li>
}