@namespace BlazorComponent
@typeparam TTimePickerTitle
@inherits ComponentPartBase<TTimePickerTitle>

<div class="@CssProvider.GetClass("ampm")">
    @if (!AmPmReadonly || Period == TimePeriod.Am)
    {
        @RenderPart(typeof(BPickerTitlePickerButton<>),"picker-button-am",OnAmClick,RenderText("AM"),arg0Name:"Name",arg1Name:"OnClick",arg2Name:"ChildContent")
    }
    @if (!AmPmReadonly || Period == TimePeriod.Pm)
    {
        @RenderPart(typeof(BPickerTitlePickerButton<>),"picker-button-pm",OnPmClick,RenderText("PM"),arg0Name:"Name",arg1Name:"OnClick",arg2Name:"ChildContent")
    }
</div>

