@namespace BlazorComponent
@typeparam TTabs
@inherits ComponentPartBase<TTabs>

<div class="@CssProvider.GetClass("slider-wrapper")" style="@CssProvider.GetStyle("slider-wrapper")">
    <div class="@CssProvider.GetClass("slider")" style="@CssProvider.GetStyle("slider")"></div>
</div>
