@namespace BlazorComponent
@typeparam TSnackbar
@inherits ComponentPartBase<TSnackbar>

<div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")">
    @ComponentChildContent
</div>