@namespace BlazorComponent
@typeparam TAlert
@inherits ComponentPartBase<TAlert>

<div class="@CssProvider.GetClass("content")">
    @if (HasTitle)
    {
        <div class="@CssProvider.GetClass("title")">
            @if (TitleContent == null)
            {
                @Title
            }
            else
            {
                @TitleContent
            }
        </div>
    }

    @ChildContent
</div>
