@namespace BlazorComponent
@typeparam TSlideGroup
@inherits ComponentPartBase<TSlideGroup>

<div class="@CssProvider.GetClass("prev")" style="@CssProvider.GetStyle("prev")" @onclick="HandleOnClick">
    @if (Visible)
    {
        @if (IconContent != null)
        {
            @IconContent
        }
        else
        {
            <BIcon Disabled="!Active" @attributes="GetAttributes(typeof(BIcon))">
                @Icon
            </BIcon>
        }
    }
</div>