@namespace BlazorComponent
@typeparam TSlideGroup
@inherits ComponentAbstractBase<TSlideGroup>

<div class="@CssProvider.GetClass("prev")" style="@CssProvider.GetStyle("prev")" @onclick="HandleOnClick">
    @if (Visible)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()" Disabled="@(!Active)">@Icon</AbstractComponent>
    }
</div>