@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TComponent

<div>
    @if (Component.ActivePicker == "YEAR")
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BDatePickerYears>()"></AbstractComponent>
    }
    else
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BDatePickerHeader>()"></AbstractComponent>
        @if (Component.ActivePicker == "DATE")
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<IDatePickerDateTable>()"></AbstractComponent>
        }
        else
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<IDatePickerMonthTable>()"></AbstractComponent>
        }
    }
</div>
