@namespace BlazorComponent
@typeparam TTimePickerClock
@inherits ComponentPartBase<TTimePickerClock>

    @for (var value = Min; value <= Max; value = value + Step)
{
    <span class="@CssProvider.GetClass("item",data:value)" style="@CssProvider.GetStyle("item",data:value)">
        <span>@Format?.Invoke(value)</span>
    </span>
}

