@namespace BlazorComponent
@typeparam TDialog
@inherits ComponentPartBase<TDialog>

@if (IsBooted)
{
    <div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")" @onkeydown="@HandleOnKeyDown" @ref="ContentRef" @attributes="ContentAttrs">
        @RenderPart(typeof(BDialogInnerContent<>))
    </div>
}
