@namespace BlazorComponent
@typeparam TDialog
@inherits ComponentAbstractBase<TDialog>

@if (ShowContent)
{
    <div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")" @onkeydown="@HandleOnKeyDown" @ref="ContentRef" @attributes="ContentAttrs">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BDialogInnerContent<>))"></AbstractComponent>
    </div>
}
