@namespace BlazorComponent
@typeparam TCalendarDaily
@inherits ComponentAbstractBase<TCalendarDaily>

<div class="@CssProvider.GetClass("intervalsLabel")" style="@CssProvider.GetStyle("intervalsLabel")">
    <div class="@CssProvider.GetClass("intervalsText")">
        @Label
    </div>
</div>
