@namespace BlazorComponent
@typeparam TCalendarDaily
@inherits ComponentAbstractBase<TCalendarDaily>

<div class="@CssProvider.GetClass("intervalsBody")" style="@CssProvider.GetStyle("intervalsBody")">
    @foreach (var intervals in Intervals)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarDailyIntervalsLabel<>))" Interval="@intervals"></AbstractComponent>
    }
</div>
