@namespace BlazorComponent
@typeparam TIcon
@inherits ComponentAbstractBase<TIcon>

<button class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @onclick="OnClick">
    @NewChildren
</button>

