@namespace BlazorComponent
@typeparam TIcon
@inherits ComponentAbstractBase<TIcon>

@*//this will change*@
<button type="button" class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @onclick="OnClick" @onclick:stopPropagation>
    @NewChildren
</button>

