@namespace BlazorComponent
@inherits BDomComponentBase

<span role="img"
      class="@CssBuilder.Class"
      style="@StyleBuilder.Style"
      id="@Id"
      @ref="Ref"
      @onclick="HandleOnClick">
    <i class="oi oi-@_icon"></i>
</span>