@namespace BlazorComponent
@typeparam TOverlay
@inherits ComponentPartBase<TOverlay>

@if (Value)
{
    <div class="@CssProvider.GetClass("content")" @ref="Ref">
        @ComponentChildContent
    </div>
}