@namespace BlazorComponent
@typeparam TTimePicker
@inherits ComponentAbstractBase<TTimePicker>

<div @key="Selecting" class="@CssProvider.GetClass("container")">
    @if (!AmPmInTitle && IsAmPm)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTimePickerClockAmPm<>))"></AbstractComponent>
    }
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTimePickerClock))"></AbstractComponent>
</div>

