@namespace BlazorComponent
@typeparam TTimePicker
@inherits ComponentPartBase<TTimePicker>

<div @key="Selecting" class="@CssProvider.GetClass("container")">
    @if (!AmPmInTitle && IsAmPm)
    {
        @RenderPart(typeof(BTimePickerClockAmPm<>))
    }
    <BTimePickerClock @attributes="GetAttributes(typeof(BTimePickerClock))"></BTimePickerClock>
</div>

