@namespace BlazorComponent
@typeparam TValue
@inherits BInputDefaultSlot<TValue,IInput<TValue>>

<div class="@CssProvider.GetClass("radio-group")">
    @if (HasLabel)
    {
        <BLabel @attributes="GetAttributes(typeof(BLabel))" Tag="legend">
            @if (LabelContent != null)
            {
                @LabelContent
            }
            else
            {
                @Label
            }
        </BLabel>
    }
    @ComponentChildContent
</div>