@namespace BlazorComponent
@typeparam TValue
@inherits BInputDefaultSlot<TValue,IInput<TValue>>

<div class="@CssProvider.GetClass("radio-group")">
    @if (HasLabel)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BLabel>()">
            @if (LabelContent != null)
            {
                @LabelContent
            }
            else
            {
                @Label
            }
        </AbstractComponent>
    }
    @ComponentChildContent
</div>