@namespace BlazorComponent
@typeparam TColorPicker
@inherits ComponentAbstractBase<TColorPicker>

<div>
    <div class="@CssProvider.GetClass("swatch")" style="@CssProvider.GetStyle("swatch")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BColorPickerSwatchesSwatchColor<>))"></AbstractComponent>
    </div>
</div>