@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()" @onclick="HandleOnClickAsync" @onclick:stopPropagation>
        <div class="@CssProvider.GetClass("input")">
            <BIcon @attributes="GetAttributes(typeof(BIcon))">
                @ComputedIcon
            </BIcon>
            @if (Ripple && !Disabled)
            {
                <div class="@CssProvider.GetClass("ripple")" style="@CssProvider.GetStyle("ripple")"></div>
            }
        </div>
    </div>
</CascadingValue>


