@namespace BlazorComponent
@typeparam TItem
@typeparam TDataIterator
@inherits ComponentPartBase<TDataIterator>

<div class="@CssProvider.GetClass()">
    @HeaderContent
    @RenderPart(typeof(BDataIteratorItems<,>))
    @RenderPart(typeof(BDataIteratorFooter<,>))
    @FooterContent
</div>

