@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <span class="@CssProvider.GetClass()">
        @if (InLine && Left)
        {
            @RenderPart(typeof(BBadgeWrapper<>))
            @ChildContent
        }
        else
        {
            @ChildContent
            @RenderPart(typeof(BBadgeWrapper<>))
        }
    </span>
</CascadingValue>
