@namespace BlazorComponent
@inherits BDomComponentBase

<span class="@CssProvider.GetClass()">
    @if (InLine && Left)
    {
        @RenderPart(typeof(BBadgeWrapper<>))
        @ChildContent
    }
    else
    {
        @ChildContent
        @RenderPart(typeof(BBadgeWrapper<>))
    }
</span>