@namespace BlazorComponent
@typeparam TBadge
@inherits ComponentAbstractBase<TBadge>

<span class="@CssProvider.GetClass("wrapper")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BBadgeBadge<>))"></AbstractComponent>
</span>