@namespace BlazorComponent
@typeparam TDatePickerHeader
@inherits ComponentPartBase<TDatePickerHeader>

<div class="@CssProvider.GetClass("value")">
    <Transition Name="@Transition">
        <KeyTransitionElement Value="Value" class="@CssProvider.GetClass("header")">
            <button @attributes="HeaderAttrs">
                @if (ComponentChildContent != null)
                {
                    @ComponentChildContent
                }
                else
                {
                    @Formatter?.Invoke(Value)
                }
            </button>
        </KeyTransitionElement>
    </Transition>
</div>

