@namespace BlazorComponent
@typeparam TValue
@typeparam TNumeric
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("thumb-container")" 
     style="@CssProvider.GetStyle("thumb-container")"
     @ref="ThumbElement"
     @attributes="ThumbAttrs"
     @onfocus="OnFocus"
     @onblur="OnBlur"
     @onkeydown="OnKeyDown"
     @onkeydown:preventDefault>
     @RenderPart(typeof(BSliderThumb<,,>))
    @if (ShowThumbLabel)
    {
        @RenderPart(typeof(BSliderThumbLabel<,,>))
    }
</div>
