@namespace BlazorComponent
@typeparam TStepper
@inherits ComponentPartBase<TStepper>

<span class="@CssProvider.GetClass("step")">
    @if (HasError)
    {
        <BIcon @attributes="GetAttributes(typeof(BIcon))">
            @ErrorIcon
        </BIcon>
    }
    else if (Complete)
    {
        if (Editable)
        {
            <BIcon @attributes="GetAttributes(typeof(BIcon))">
                @EditIcon
            </BIcon>
        }
        else
        {
            <BIcon @attributes="GetAttributes(typeof(BIcon))">
                @CompleteIcon
            </BIcon>
        }
    }
    else
    {
        @Step
    }
</span>
