@namespace BlazorComponent
@inherits BDomComponentBase

<main class="@CssBuilder.Class" style="@Style" id="@Id" @ref="Ref" data-booted="true">
    <div class="@WrapCssBuilder.Class">
        @ChildContent
    </div>
</main>