@namespace BlazorComponent
@inherits BDomComponentBase

<main class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@CssProvider.GetClass(this,"wrap")">
        @ChildContent
    </div>
</main>