@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

@if (RealDisplay)
{
    <CascadingValue Value="this" Name="SelfNode">
        <div @key="NodeId" class="@CssBuilder.Class" style="@OriginalStyle">

            <BTreeIndent BTreeLevel="@BTreeLevel" TItem="TItem"></BTreeIndent>

            @if (BTreeComponent.ShowExpand)
            {
                <BTreeNodeSwitcher OnSwitcherClick="OnSwitcherClick" TItem="TItem"></BTreeNodeSwitcher>
            }

            @if (BTreeComponent.Checkable)
            {
                <BTreeNodeCheckbox OnCheckBoxClick="OnCheckBoxClick" TItem="TItem"></BTreeNodeCheckbox>
            }

            <BTreeNodeTitle TItem="TItem"></BTreeNodeTitle>
        </div>
    </CascadingValue>
}
<CascadingValue Value="this" Name="Node">
    @if (DataItem != null)
    {
        foreach (var item in ChildDataItems)
        {
            <BTreeNode DataItem="@item" @key="item.GetHashCode()"></BTreeNode>
        }
    }
    else
    {
        @Nodes
    }
</CascadingValue>