@namespace BlazorComponent
@inherits ComponentBase
@typeparam TItem

<span class="ant-BTree-indent" aria-hidden="true">
    @for (int i = 0; i < BTreeLevel; i++)
    {
        if (BTreeComponent.IndentTemplate != null)
        {
            @BTreeComponent.IndentTemplate(SelfNode)
        }
        else
        {
            <span class="ant-BTree-indent-unit ng-star-inserted"></span>
        }
    }
</span>