@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

<div class="@CssBuilder.Class" style="@OriginalStyle" @ref="Ref">
    <div class="ant-BTree-list">
        <div class="ant-BTree-list-holder-inner">
            <CascadingValue Value="this" Name="BTree" IsFixed="@true">
                @if (DataSource != null)
                {
                    foreach (var item in DataSource)
                    {
                        <BTreeNode DataItem="@item" @key="item.GetHashCode()"></BTreeNode>
                    }
                }
                else
                {
                    @Nodes
                }
            </CascadingValue>
        </div>
    </div>
</div>
