@namespace BlazorComponent
@typeparam TCalendarDaily
@inherits ComponentAbstractBase<TCalendarDaily>

<div class="@CssProvider.GetClass("pane")" style="@CssProvider.GetStyle("pane")" @ref="PaneElement">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarDailyDayContainer<>))"></AbstractComponent>
</div>
