@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
    @RenderPart(typeof(BProgressCircularSvg<>))
    @RenderPart(typeof(BProgressCircularInfo<>))
</div>
