@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="Ref" Name="Popover">
    <div class="@CssProvider.GetClass()"
         style="@CssProvider.GetStyle()"
         @onclick="HandleOnClick"
         @onclick:stopPropagation="true"
         @onmousedown:preventDefault
         id="@Id"
         @ref="Ref">
        @ChildContent
    </div>
</CascadingValue>
