@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this" IsFixed>
    <CascadingValue Value="EditContext" IsFixed>
        <form class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @onsubmit="HandleOnSubmitAsync">
            @if (ChildContent != null)
            {
                @ChildContent(new FormContext(EditContext, Validate))
            }
        </form>
    </CascadingValue>
</CascadingValue>
