@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this" IsFixed>
    <CascadingValue Value="EditContext" IsFixed>
        <form class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @onsubmit="HandleOnSubmitAsync">
            @ChildContent?.Invoke(FormContext)
        </form>
    </CascadingValue>
</CascadingValue>
