@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="EditContext">
    <form class="@CssProvider.GetClass()" @onsubmit="OnSubmit">
        @ChildContent(EditContext)
    </form>
</CascadingValue>
