@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <CascadingValue Value="EditContext">
        <form class="@CssProvider.GetClass()" @onsubmit="OnSubmit">
            @if (ChildContent != null)
            {
                @ChildContent(EditContext)
            }
        </form>
    </CascadingValue>
</CascadingValue>

