@namespace BlazorComponent
@typeparam TSnackbar
@inherits ComponentAbstractBase<TSnackbar>

<div class="@CssProvider.GetClass("action")" style="@CssProvider.GetStyle("action")">
    @if (!string.IsNullOrEmpty(Action))
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BButton>()">
            @Action
        </AbstractComponent>
    }
    else
    {
        @ActionContent
    }
</div>

