@namespace BlazorComponent
@typeparam TPagination
@inherits ComponentAbstractBase<TPagination>

<li>
    <button class="@CssProvider.GetClass(IconClassName())" type="button" disabled="@Disabled" @onclick="HandleAsync" @onclick:preventDefault>
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
            @GetIcon
        </AbstractComponent>
    </button>
</li>