@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <nav id="@Id" @ref="Ref" class="@Class">
        @RenderPart(typeof(BPaginationList<>))
    </nav>
</CascadingValue>
