@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    <nav id="@Id" @ref="Ref" class="@Class">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BPaginationList<>))"></AbstractComponent>
    </nav>
</BCascadingValue>