@namespace BlazorComponent
@typeparam TTimePickerTitle
@inherits ComponentPartBase<TTimePickerTitle>

<div class="@CssProvider.GetClass("time")">
    @RenderPart(typeof(BPickerTitlePickerButton<>),"picker-button-hour",OnHourClick,RenderText(DisplayedHour),arg0Name:"Name",arg1Name:"OnClick",arg2Name:"ChildContent")
    <span>:</span>
    @RenderPart(typeof(BPickerTitlePickerButton<>),"picker-button-minute",OnMinuteClick,RenderText(DisplayedMinute),arg0Name:"Name",arg1Name:"OnClick",arg2Name:"ChildContent")
    @if (UseSeconds)
    {
        <span>:</span>
        @RenderPart(typeof(BPickerTitlePickerButton<>),"picker-button-second",OnSecondClick,RenderText(DisplayedSecond),arg0Name:"Name",arg1Name:"OnClick",arg2Name:"ChildContent")
    }
</div>

