@namespace BlazorComponent
@typeparam TCalendarWeekly
@inherits ComponentAbstractBase<TCalendarWeekly>

<div class="@CssProvider.GetClass("head")">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarWeeklyHeadDays<>))"></AbstractComponent>
</div>