@namespace BlazorComponent
@inherits BDomComponentBase
@implements IPickerTitle

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BDatePickerTitleButton>(YEAR_BTN)">
        @Year
        @if (YearIcon != null)
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
                @YearIcon
            </AbstractComponent>
        }
    </AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BDatePickerTitleButton>(TITLE_DATE)">
        <div>
            @Date
        </div>
    </AbstractComponent>
</div>
