@namespace BlazorComponent
@typeparam TTimelineItem
@inherits ComponentPartBase<TTimelineItem>

<div class="@CssProvider.GetClass("inner-dot")" style="@CssProvider.GetStyle("inner-dot")">
    @RenderPart(typeof(BTimelineItemIcon<>))
</div>