@namespace BlazorComponent
@typeparam TProgressLinear
@inherits ComponentPartBase<TProgressLinear>

<div class="@CssProvider.GetClass("background")" style="@CssProvider.GetStyle("background")"></div>
