@namespace BlazorComponent
@typeparam TBreadcrumbsItem
@inherits ComponentAbstractBase<TBreadcrumbsItem>

<a href="@Href" target="@Target" class="@CssProvider.GetClass("link")" style="@CssProvider.GetStyle("link")">
    @ChildContent
</a>