@namespace BlazorComponent
@typeparam TBanner
@inherits ComponentPartBase<TBanner>

<div class="@CssProvider.GetClass("wrapper")">
    @RenderPart(typeof(BBannerContent<>))
    @if (ComputedActionsContent != null)
    {
        @RenderPart(typeof(BBannerActions<>))
    }
</div>