@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<ScaleTransition Origin="bottom center">
    <ShowTransitionElement Value="ShowThumbLabelContainer" class="@CssProvider.GetClass("thumb-label-container")" style="@CssProvider.GetStyle("thumb-label-container")">
        <div class="@CssProvider.GetClass("thumb-label")">
            <div>@ThumbLabelContent(Index)</div>
        </div>
    </ShowTransitionElement>
</ScaleTransition>


