@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("file-input-text")">
    @if (IsDirty && SelectionContent != null)
    {
        for (var i = 0; i < Files.Count; i++)
        {
            @SelectionContent((i, Files[i].Name))
        }
    }
    else
    {
        if (HasChips && IsDirty)
        {
            @RenderPart(typeof(BFileInputChips<,>))
        }
        else
        {
            @RenderPart(typeof(BFileInputSelectionText<,>))
        }
    }
</div>
