@namespace BlazorComponent
@typeparam TColorPickerPreview
@inherits ComponentAbstractBase<TColorPickerPreview>

<div class="@CssProvider.GetClass("dot")">
    <div style="@CssProvider.GetStyle("dot")">
    </div>
</div>

