@namespace BlazorComponent
@typeparam TPicker
@inherits ComponentPartBase<TPicker>

<div class="@CssProvider.GetClass("body")" style="@CssProvider.GetStyle("body")">
    @RenderPart(typeof(BPickerBodyTransition<>))
</div>

